<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <tab id="tagalys" translate="label" sortOrder="10">
      <label>Tagalys</label>
    </tab>
    <section id="tagalys_cron" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
      <label>Cron Settings</label>
      <tab>tagalys</tab>
      <resource>Tagalys_Sync::configuration</resource>

      <group id="maintenance" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
        <label>Maintenance Cron</label>
        <field id="frequency" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Frequency</label>
            <source_model>Tagalys\Sync\Model\Config\Source\FrequencyLarge</source_model>
            <backend_model>Tagalys\Sync\Model\Config\Backend\CronConfig</backend_model>
        </field>
        <field id="start_time" translate="label comment" sortOrder="2" type="time" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Start Time</label>
            <comment>Seconds will be ignored</comment>
        </field>
      </group>

      <group id="product_sync" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
        <label>Product Sync Cron</label>
        <field id="frequency" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Frequency</label>
            <source_model>Tagalys\Sync\Model\Config\Source\FrequencySmall</source_model>
            <backend_model>Tagalys\Sync\Model\Config\Backend\CronConfig</backend_model>
        </field>
      </group>

      <group id="category_sync" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
        <label>Category Sync Cron</label>
        <field id="frequency" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Frequency</label>
            <source_model>Tagalys\Sync\Model\Config\Source\FrequencySmall</source_model>
            <backend_model>Tagalys\Sync\Model\Config\Backend\CronConfig</backend_model>
        </field>
      </group>

      <group id="position_update" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
        <label>Position Update Cron</label>
        <field id="frequency" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Frequency</label>
            <source_model>Tagalys\Sync\Model\Config\Source\FrequencySmall</source_model>
            <backend_model>Tagalys\Sync\Model\Config\Backend\CronConfig</backend_model>
        </field>
      </group>
    </section>
    <section id="tagalys_js" translate="label" sortOrder="131" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Tagalys JS</label>
        <tab>tagalys</tab>
        <resource>Tagalys_Sync::configuration</resource>

        <group id="tagalys_js" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>JS File</label>
            <field id="js_file_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>JS File URL</label>
                <backend_model>Tagalys\Sync\Model\Config\Backend\JsConfig</backend_model>
            </field>
        </group>
    </section>
  </system>
</config>
